* {
  box-sizing: border-box;
  margin: 0;
}

.order {
  display: flex;
}
.order > div {
  width: 33%;
  padding: 4px;
}
.hide {
  display: none !important;
}
.itemsList {
  padding: 15px;
  background: white;
  font-family: "Playfair Display";
}
.itemCategory {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Playfair Display";
}
.itemCategory h3,
.itemsList h3 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
  font-size: 20px;
  padding-bottom: 100px;
}

.itemInfo {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.itemInfo div {
  text-align: center;
}
.itemInfo button {
  margin: 15px auto 0;
  font-size: 20px;
}
#buyButton {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #680606 inset, 0 0 0 0 #570108;
  font-family: "Playfair Display";
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
#buyButton:hover {
  box-shadow: 0 0 10px 0 #500112 inset, 0 0 10px 4px #680606;
  color: #500112;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
li {
  list-style: none;
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  position: relative;
  transition: 0.3s linear;
  font-size: 20px;
  cursor: pointer;
}
li:after {
  content: "+";
  position: absolute;
  right: 10px;
  color: white;
  transition: 0.2s linear;
}
li:hover {
  background: #72182f;
  color: white;
}

.orderForm {
  width: 400px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_container {
  padding: 10px;
  border: 1px solid black;
  color: white;
  background-image: url(1636926693_1-bogatyr-club-p-tyomno-bordovii-fon-1.jpg);
  background-size: cover;
  font-size: 18px;
}
.orderForm input:not([type="radio"]),
.orderForm select,
.orderForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.payment {
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
}
.orderForm h3 {
  text-align: center;
  padding-bottom: 10px;
  text-decoration: #680606 underline;
  font-size: 25px;
}
.orderForm button {
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #680606 inset, 0 0 0 0 #570108;
  font-family: "Playfair Display";
  font-weight: bold;
  color: white;
  transition: 0.15s ease-in-out;
  font-size: 20px;
}
.orderForm button:hover {
  box-shadow: 0 0 10px 0 #500112 inset, 0 0 10px 4px #680606;
  color: #500112;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;

  font-family: "Playfair Display";
}
td {
  border: 1px black solid;
  background-image: url(1636917749_56-bogatyr-club-p-belosnezhnii-fon-58.jpg);
  padding: 5px;
}
.orderResult {
  width: 600px;
  margin: auto;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}
